@charset "UTF-8";

@media screen and (max-width:600px){
    header{
        display: flex;
        flex-flow: column wrap;
    }

    header h1#titulo{
        text-align: center;
    }

    header a{
        display: block;
        margin: 5px;
    }

    header a:hover {
        background-color: gray;
    }
}